@page "/Dock"

<DockContainer Fill="Fill.Full">
    <DockPanel Side="Side.Left">
        <MatCard Class="height-100 width-100" Style="background-color: chocolate;">
            <div class="card-content">
                <MatHeadline6 Style="margin:0px;">
                    Dock 1!
                </MatHeadline6>
                <MatBody1 Style="margin:0px;">
                    Docked on the left...
                </MatBody1>
            </div>
        </MatCard>
    </DockPanel>
    <DockPanel Side="Side.Top">
        <MatCard Class="height-100 width-100" Style="background-color: cornflowerblue;">
            <div class="card-content">
                <MatHeadline6 Style="margin:0px;">
                    Dock 2!
                </MatHeadline6>
                <MatBody1 Style="margin:0px;">
                    Docked on the top...
                </MatBody1>
            </div>
        </MatCard>
    </DockPanel>
    <DockPanel Side="Side.Right">
        <MatCard Class="height-100 width-100" Style="background-color: burlywood;">
            <div class="card-content">
                <MatHeadline6 Style="margin:0px;">
                    Dock 3!
                </MatHeadline6>
                <MatBody1 Style="margin:0px;">
                    Docked on the right...
                </MatBody1>
            </div>
        </MatCard>
    </DockPanel>
    <DockPanel Side="Side.Bottom">
        <MatCard Class="height-100 width-100" Style="background-color: gray;">
            <div class="card-content">
                <MatHeadline6 Style="margin:0px;">
                    Dock 4!
                </MatHeadline6>
                <MatBody1 Style="margin:0px;">
                    Docked on the bottom...
                </MatBody1>
            </div>
        </MatCard>
    </DockPanel>
    <DockPanel Side="Side.Top">
        <MatCard Class="height-100 width-100" Style="background-color: bisque;">
            <div class="card-content">
                <MatHeadline6 Style="margin:0px;">
                    Dock 5!
                </MatHeadline6>
                <MatBody1 Style="margin:0px;">
                    Docked on the top...
                </MatBody1>
            </div>
        </MatCard>
    </DockPanel>
    <DockPanel Side="Side.Right">
        <MatCard Class="height-100 width-100" Style="background-color: aquamarine;">
            <div class="card-content">
                <MatHeadline6 Style="margin:0px;">
                    Dock 6!
                </MatHeadline6>
                <MatBody1 Style="margin:0px;">
                    Docked on the right...
                </MatBody1>
            </div>
        </MatCard>
    </DockPanel>
    <DockPanel Side="Side.Left">
        <MatCard Class="height-100 width-100" Style="background-color: lightgreen;">
            <div class="card-content">
                <MatHeadline6 Style="margin:0px;">
                    Dock 7!
                </MatHeadline6>
                <MatBody1 Style="margin:0px;">
                    Docked on the left...
                </MatBody1>
            </div>
        </MatCard>
    </DockPanel>
    <MatCard Class="height-100 width-100">
        <div class="card-content">
            <MatHeadline6 Style="margin:0px;">
                Not a dock panel!
            </MatHeadline6>
            <MatBody1 Style="margin:0px;">
                child content...
            </MatBody1>
        </div>
    </MatCard>
</DockContainer>
