@page "/Dock"

<DockContainer Fill="Fill.Full">
    <DockPanel Side="Core.Side.Left">
        <BoxContainer Fill="Fill.Full">
            <FluentCard MinimalStyle="true" Style="background-color: chocolate;">
                <FluentLabel Typo="Typography.H1">
                    Dock 1!
                </FluentLabel>
                <p>
                    Docked on the left...
                </p>
            </FluentCard>
        </BoxContainer>
    </DockPanel>
    <DockPanel Side="Core.Side.Top">
        <BoxContainer Fill="Fill.Full">
            <FluentCard MinimalStyle="true" Style="background-color: cornflowerblue;">
                <FluentLabel Typo="Typography.H1">
                    Dock 2!
                </FluentLabel>
                <p>
                    Docked on the top...
                </p>
            </FluentCard>
        </BoxContainer>>
    </DockPanel>
    <DockPanel Side="Core.Side.Right">
        <BoxContainer Fill="Fill.Full">
            <FluentCard MinimalStyle="true" Style="background-color: burlywood;">
                <FluentLabel Typo="Typography.H1">
                    Dock 3!
                </FluentLabel>
                <p>
                    Docked on the right...
                </p>
            </FluentCard>
        </BoxContainer>
    </DockPanel>
    <DockPanel Side="Core.Side.Bottom">
        <BoxContainer Fill="Fill.Full">
            <FluentCard MinimalStyle="true" Style="background-color: gray;">
                <FluentLabel Typo="Typography.H1">
                    Dock 4!
                </FluentLabel>
                <p>
                    Docked on the bottom...
                </p>
            </FluentCard>
        </BoxContainer>
    </DockPanel>
    <DockPanel Side="Core.Side.Top">
        <BoxContainer Fill="Fill.Full">
            <FluentCard MinimalStyle="true" Style="background-color: bisque;">
                <FluentLabel Typo="Typography.H1">
                    Dock 5!
                </FluentLabel>
                <p>
                    Docked on the top...
                </p>
            </FluentCard>
        </BoxContainer>
    </DockPanel>
    <DockPanel Side="Core.Side.Right">
        <BoxContainer Fill="Fill.Full">
            <FluentCard MinimalStyle="true" Style="background-color: aquamarine;">
                <FluentLabel Typo="Typography.H1">
                    Dock 6!
                </FluentLabel>
                <p>
                    Docked on the right...
                </p>
            </FluentCard>
        </BoxContainer>
    </DockPanel>
    <DockPanel Side="Core.Side.Left">
        <BoxContainer Fill="Fill.Full">
            <FluentCard MinimalStyle="true" Style="background-color: lightgreen;">
                <FluentLabel Typo="Typography.H1">
                    Dock 7!
                </FluentLabel>
                <p>
                    Docked on the left...
                </p>
            </FluentCard>
        </BoxContainer>
    </DockPanel>
    <BoxContainer Fill="Fill.Full">
        <FluentCard MinimalStyle="true" Class="bg-light">
            <FluentLabel Typo="Typography.H1">
                Not a dock panel!
            </FluentLabel>
            <p>
                child content...
            </p>
        </FluentCard>
    </BoxContainer>
</DockContainer>
