@inherits LayoutComponentBase

    <ResponsiveMainPage NavigationClass="@Theme.GetClass("mat-elevation-z8 mdc-theme--secondary-bg")" MaxProportion="20" EnableContentScroll="true">
        <Header>
            <MatPaper Class="mdc-theme--primary-bg" Elevation="6">
                <div class="card-content">
                    <MatHeadline6 Class="mdc-theme--on-primary" Style="margin:0px;">
                        Header
                    </MatHeadline6>

                    <MatBody1 Class="mdc-theme--on-primary"  Style="margin:0px;">
                        Here is a demo of the BlazorLayout project.
                    </MatBody1>
                </div>

            </MatPaper>
        </Header>
        <NavigationHeader>
            <MatCard Class="mdc-theme--secondary-bg mdc-theme--on-secondary">
                <MatCardActions>
                    <MatCardActionButtons>
                        <MatButtonLink Class="mdc-theme--on-secondary" Href="">BlazorLayout Examples</MatButtonLink>
                    </MatCardActionButtons>

                    <MatCardActionIcons>
                        <MatIconButton Icon="@MatIconNames.Favorite"></MatIconButton>
                    </MatCardActionIcons>
                </MatCardActions>
            </MatCard>
        </NavigationHeader>
        <Navigation>
            <MatPaper Class="height-100 overflow-auto" Elevation="4">
                <NavMenu />
            </MatPaper>
        </Navigation>
        <Outline>
            <MatPaper Class="mdc-theme--secondary-bg height-100 overflow-auto" Elevation="6">
                <div class="card-content">
                    <MatHeadline6 Class="mdc-theme--on-primary" Style="margin:0px;">
                        Outline
                    </MatHeadline6>

                    <MatBody1 Class="mdc-theme--on-primary" Style="margin:0px;">
                        Here is the Outline of the demo.
                    </MatBody1>
                    <MatBody1 Class="mdc-theme--on-primary" Style="margin:0px;">
                        It will hide itself if the display size is too small.
                    </MatBody1>
                </div>

            </MatPaper>
        </Outline>
        <Footer>
            <MatPaper Class="height-100 overflow-auto" Elevation="6">
                <div class="card-content">
                    <MatBody1 Style="margin:0px;">
                        Footer : Thanks to MatBlazor we can use Material Design.
                    </MatBody1>
                </div>

            </MatPaper>
        </Footer>
        <ChildContent>
            @Body
        </ChildContent>
    </ResponsiveMainPage>
