
    <ul class="nav">
        <li>
            <NavLink href="" Match="NavLinkMatch.All">
                <MatButton Class="width-100 mdc-theme--secondary" Icon="favorite" Label="Home"></MatButton>
            </NavLink>
        </li>
        <li>
            <NavLink href="Dock">
                <MatButton Class="width-100 mdc-theme--secondary" Icon="favorite" Dense="true" Label="Dock Demo">

                </MatButton>
             </NavLink>
        </li>
        <li>
            <NavLink href="Grid">
                <MatButton Class="width-100 mdc-theme--secondary" Icon="favorite" Label="Grid Demo"></MatButton>
            </NavLink>
        </li>
        <li>
            <NavLink href="Resize">
                <MatButton Class="width-100 mdc-theme--secondary" Icon="favorite" Label="Resize"></MatButton>
            </NavLink>
        </li>
    </ul>

