@page "/Dock"

<DockContainer Fill="Fill.Full">
    <DockPanel Side="Core.Side.Left">
        <BoxContainer Fill="Fill.Full" Style="background-color: chocolate;" Class="panel-container">
            <Heading Style="margin:0px;">
                Dock 1!
            </Heading>
            <Paragraph Style="margin:0px;">
                Docked on the left...
            </Paragraph>
        </BoxContainer>
    </DockPanel>
    <DockPanel Side="Core.Side.Top">
        <BoxContainer Fill="Fill.Full" Style="background-color: cornflowerblue;" Class="panel-container">
            <Heading Style="margin:0px;">
                Dock 2!
            </Heading>
            <Paragraph Style="margin:0px;">
                Docked on the top...
            </Paragraph>
        </BoxContainer>>
    </DockPanel>
    <DockPanel Side="Core.Side.Right">
        <BoxContainer Fill="Fill.Full" Style="background-color: burlywood;" Class="panel-container">
            <div class="card-content">
                <Heading Style="margin:0px;">
                    Dock 3!
                </Heading>
                <Paragraph Style="margin:0px;">
                    Docked on the right...
                </Paragraph>
            </div>
        </BoxContainer>
    </DockPanel>
    <DockPanel Side="Core.Side.Bottom">
        <BoxContainer Fill="Fill.Full" Style="background-color: gray;" Class="panel-container">
            <div class="card-content">
                <Heading Style="margin:0px;">
                    Dock 4!
                </Heading>
                <Paragraph Style="margin:0px;">
                    Docked on the bottom...
                </Paragraph>
            </div>
        </BoxContainer>
    </DockPanel>
    <DockPanel Side="Core.Side.Top">
        <BoxContainer Fill="Fill.Full" Style="background-color: bisque;" Class="panel-container">
            <div class="card-content">
                <Heading Style="margin:0px;">
                    Dock 5!
                </Heading>
                <Paragraph Style="margin:0px;">
                    Docked on the top...
                </Paragraph>
            </div>
        </BoxContainer>
    </DockPanel>
    <DockPanel Side="Core.Side.Right">
        <BoxContainer Fill="Fill.Full" Style="background-color: aquamarine;" Class="panel-container">
            <div class="card-content">
                <Heading Style="margin:0px;">
                    Dock 6!
                </Heading>
                <Paragraph Style="margin:0px;">
                    Docked on the right...
                </Paragraph>
            </div>
        </BoxContainer>
    </DockPanel>
    <DockPanel Side="Core.Side.Left">
        <BoxContainer Fill="Fill.Full" Style="background-color: lightgreen;" Class="panel-container">
            <div class="card-content">
                <Heading Style="margin:0px;">
                    Dock 7!
                </Heading>
                <Paragraph Style="margin:0px;">
                    Docked on the left...
                </Paragraph>
            </div>
        </BoxContainer>
    </DockPanel>
    <BoxContainer Fill="Fill.Full" Class="bg-light panel-container">
        <div class="card-content">
            <Heading Style="margin:0px;">
                Not a dock panel!
            </Heading>
            <Paragraph Style="margin:0px;">
                child content...
            </Paragraph>
        </div>
    </BoxContainer>
</DockContainer>
