<li>
    <NavLink href="@Href" Match="@NavLinkMatch">
        @if (SmallNav)
        {
            <Button Class="btn-icon" Style="justify-content: center;" Color="Color.Default">
                <Blazorise.Icon Class="text-secondary" Name="@Icon" />
            </Button>
        }
        else
        {
            <Button Class="width-100 text-secondary " Color="Color.Link" Style="text-wrap: pretty; height: fit-content; text-align: justify;">
                <Blazorise.Icon Name="@Icon" />
                @Label
            </Button>
        }
    </NavLink>
</li>
