
@inherits AContainer

<div
     @ref="ElementReference"
     class="@FillClass @Class"
     style="@ComputeStyle()"
     id="@Id">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>
