@page "/GridAuto"

<GridContainer Fill="Fill.Full"
               ColumnSizing="Sizing.Proportion"
               RowSizing="Sizing.Proportion">

    <Column Size="25" Repeat="4" />

    <Row Size="50" Repeat="2" />

    @for (var i = 1; i < 6; i++)
    {
        var num = i;

        <Cell>
            <MatCard Class="height-100 width-100" Style="@GetBackgroundColor(num)">
                <div class="card-content">
                    <MatHeadline6 Style="margin:0px;">
                        Cell @num!
                    </MatHeadline6>
                    <MatBody1 Style="margin:0px;">
                        Using auto flow placement...
                    </MatBody1>
                </div>
            </MatCard>
        </Cell>
    }

</GridContainer>

@code
{
    private static string GetBackgroundColor(int num)
    {
        return "background-color: "
            + num switch
            {
                1 => "chocolate",
                2 => "silver",
                3 => "burlywood",
                4 => "cadetblue",
                5 => "darkseagreen",
                _ => "olive"
            }
            + ";";
    }
}