@page "/Page"

<DockContainer Fill="Fill.Full">
    <DockPanel Side="Side.Left">
        <div style="width:100%; height:100%; background-color:chocolate;">Some left 1</div>
    </DockPanel>
    <DockPanel Side="Side.Top">
        <div style="width:100%; height:100%; background-color:cornflowerblue;">Some top 1</div>
    </DockPanel>
    <DockPanel Side="Side.Right">
        <div style="width:100%; height:100%; background-color:burlywood;">Some right 1</div>
    </DockPanel>
    <DockPanel Side="Side.Bottom">
        <div style="width:100%; height:100%; background-color:gray;">Some bottom 1</div>
    </DockPanel>
    <DockPanel Side="Side.Top">
        <div style="width:100%; height:100%; background-color:bisque;">Some top 2</div>
    </DockPanel>
    <DockPanel Side="Side.Right">
        <div style="width:100%; height:100%; background-color:aquamarine;">Some right 2</div>
    </DockPanel>
    <div style="width:100%; height:100%; background-color:darkgreen;">Some text</div>
</DockContainer>
